* {
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.clearfix {
  float: none;
  clear: both;
}

#general {
  width: 1200px;
  margin: 0px auto;
  margin-top: 20px;
  border: 5px solid black;
}

/*Cabecera*/

/*Estilos de título de página*/
header {
  height: 100px;
  line-height: 100px;
  color: wheat;
  background-color: rgb(50, 50, 200);
  text-align: center;
}

/*Menú y botones*/
#menu {
  background-color: #ccc;
}

#menu ul li {
  float: left;
  border-right: 1px solid #eee;
  list-style: none;
}

#menu ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
}

#menu ul li:hover {
  background-color: rgb(50, 50, 200);
}

#menu ul li a:hover {
  color: wheat;
}

/*Contenido de la web*/
/*Cajas*/
#contenido {
  float: left;
  width: 70%;
}

#contenido > h3 {
  text-align: center;
  padding: 15px;
  color: #444;
  text-shadow: 1px 1px 1px black;
  /*1px de desplazamiento horizontal
    1px de desplazamiento vertical
    1px de desenfoque*/
}

#contenido .caja {
  float: left;
  width: 350px;
  height: 250px;
  margin: 20px 0px 20px 40px;
  border-radius: 5px;
  background-color: #eee;
  box-shadow: 0px 0px 15px black;
  transition: all 300ms;
  /*Todas las propiedades que cambien en el elemento han de realizarlo en un
  tiempo de 300 milisegundos*/
}

#contenido .caja:hover {
  cursor: pointer;
  background-color: rgb(50, 50, 200);
}

#contenido .caja:hover h2 {
  color: wheat;
}

#contenido .caja > h4 {
  padding: 10px;
}

/*Lateral*/
#lateral {
  width: 25%;
  min-height: 500px;
  max-height: 1165px;
  overflow-y: scroll;
  text-align: justify;
  margin-top: 20px;
}

/*Footer*/
footer {
  width: 100%;
  height: 55px;
  line-height: 55px;
  text-align: center;
  background-color: #eee;
  border-top: 1px solid #ccc;
}
