/* Cargamos las fuentes locales */
* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  text-decoration: none;
  list-style: none;
}

@font-face {
  font-family: Poppins;
  src: url(fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
  font-family: Icomoon;
  src: url(fonts/icomoon/fonts/icomoon.ttf);
}

/* Definimos los iconos a usar*/
i {
  font-family: Icomoon;
}

i.hamburguer::before {
  content: "\e9bd";
}

i.fullStar::before {
  content: "\e9d9";
}

i.emptyStar::before {
  content: "\e9d7";
}

i.map::before {
  content: "\e94c";
}

i.twitter::before {
  content: "\ea96";
}

i.facebook::before {
  content: "\ea90";
}

i.instagram::before {
  content: "\ea92";
}

i.mapMark::before {
  content: "\e947";
}

i.phone::before {
  content: "\e945";
}

i.envelop::before {
  content: "\e942";
}

/*Contenido cabecera*/
header {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(images/bg_3.jpg);
  height: 50vw;
}

header button {
  display: none;
}

#navContainer {
  width: 70%;
  margin: 0 auto;
}

#navContainer nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vw;
}

#navContainer nav * {
  color: white;
}

#navContainer nav > a {
  font-size: 2vw;
}

#horizontalMenu ul {
  display: flex;
  justify-content: space-between;
}

#horizontalMenu ul li {
  margin: 0 1vw;
}

#navContainer a {
  font-size: 1.5vw;
  text-decoration: none;
}

.logo {
  font-weight: bold;
}

#listado {
  border: 1px solid white;
  padding: 0.2vw 2vw;
  border-radius: 1vw;
}

#listado:hover {
  background-color: #f85959;
  border: 1px solid #f85959;
  color: white;
}

#subHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 50vw;
  font-weight: bold;
  font-size: 1.5vw;
  color: white;
}

/*Contenido*/

#content {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

#leftColumn {
  width: 20%;
  margin-top: 2vw;
}

#destinationsArea {
  width: 75%;
  margin-top: 1.5vw;
  margin-left: 5vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*Barra lateral*/

.leftBlock {
  width: 80%;
  background-color: #f8faff;
  border: 1px solid #e6e6e6;
  padding: 1vw;
  margin-bottom: 2vw;
}

/*Encontrar ciudad*/

.leftBlock h3 {
  font-size: 1.5vw;
  color: #717171;
  text-transform: uppercase;
  margin-bottom: 0.5vw;
}

.leftBlock input,
.leftBlock select {
  font-size: 1vw;
  width: 100%;
  padding: 0.5vw;
  margin-bottom: 1vw;
  accent-color: #f85959;
  box-sizing: border-box;
}

.leftBlock .fullStar,
.leftBlock .emptyStar {
  font-size: 1.5vw;
  color: #f85959;
}

.starsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.starsContainer i {
  font-size: large;
  font-style: normal;
  color: #f85959;
  font-size: 1vw;
}

.starsContainer input {
  width: 10%;
  margin: 0;
}

.starsContainer label {
  width: 70%;
}

.starsContainer label p span {
  display: flex;
  justify-content: space-evenly;
}

.redButton {
  background-color: #f85959;
  border: 1px solid #f85959;
  color: white;
}

.hoverRedBorder:hover {
  border: 1px solid #f85959;
  color: #f85959;
  background-color: transparent;
}

/*Clasificación de estrellas*/

.starsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1vw 0;
}

/*Destinos*/

.destination {
  border: 1px solid #e6e6e6;
  margin-bottom: 2vw;
  width: 30%;
  margin: 0.5vw;
}

/* Destinos individuales */

#parisPicture {
  background-image: url(images/destination-1.jpg);
}
#californiaPicture {
  background-image: url(images/destination-2.jpg);
}
#londonPicture {
  background-image: url(images/destination-3.jpg);
}
#singapurPicture {
  background-image: url(images/destination-4.jpg);
}
#sidneyPicture {
  background-image: url(images/destination-5.jpg);
}
#kiotoPicture {
  background-image: url(images/destination-6.jpg);
}

.destinationPicture {
  height: 20vw;
  /*Escalar una imagen para que cubra completamente el área 
  del elemento al que se aplica.*/
  background-size: cover;
  background-position: center;
}

.destinationContent {
  padding: 1vw;
}

.destinationContent > p {
  font-size: 1vw;
  margin-bottom: 1vw;
}

.destinationInfo h3 {
  padding: 1.5vw 0;
}

.destinationInfo a {
  font-size: 2vw;
  color: black;
  text-decoration: none;
}

.destinationInfo i {
  font-style: normal;
}

.destinationInfo .fullStar,
.destinationInfo .emptyStar {
  font-size: 1.5vw;
}

.destinationInfo p {
  margin-bottom: 1.5vw;
}

.destinationInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.destinationInfo span {
  font-size: 1.3vw;
}

.destinationInfo i {
  font-size: small;
  color: #f85959;
}

span.price {
  font-size: 1.3vw;
  color: #2f89fc;
}

.destinationFooter {
  display: flex;
  justify-content: space-between;
  margin: 1vw 0;
}

.destinationFooter > span {
  font-size: 1vw;
}

.greenButton {
  border-radius: 0.5vw;
  background-color: #8bc34a;
  color: white;
  padding: 0.2vw 1vw;
  font-size: 1vw;
}

/*Paginación*/

#navPages {
  width: 100%;
  margin-top: 2vw;
}

#navPages ul {
  display: flex;
  justify-content: space-around;
}

#navPages ul li a {
  text-decoration: none;
}

#navPages li * {
  border: 1px solid #f85959;
  border-radius: 50%;
  color: #f85959;
  height: 3vw;
  width: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
}

#navPages li *:hover {
  background-color: #f85959;
  color: white;
}

/* Footer */

footer {
  background-color: #222831;
  height: 25vw;
  margin-top: 3vw;
  padding: 3vw 0;
  font-size: 1vw;
}

footer * {
  color: #ffffff;
}

#footerContent {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin: auto;
}

#footerContent > div {
  padding: 1.5vw;
  width: 18vw;
}

#footerContent > div > h2 {
  font-size: 1.5vw;
}

#socialLinks {
  display: flex;
}

#socialLinks li {
  display: flex;
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  margin: 0.75vw;
  background-color: #e6e6e650;
  justify-content: center;
  align-items: center;
}

#footer-dos ul li,
#footer-tres ul li,
#footer-cuatro ul li {
  margin: 0.75vw 0;
}

#footer-cuatro ul li span:first-child {
  margin-right: 1vw;
}
