/*Estilos generales*/

* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-image: url("../img/paven.png");
}

a {
  color: #529125;
}

a:hover {
  color: #285616;
}

/*Cabecera*/

header {
  width: 100%;
  /*border: 5px solid red;*/
}

#logotipo {
  width: 770px;
  margin: 0px auto;
  /*border: 5px solid green;*/
}

header #logotipo img {
  display: block; /*Necesario al ser una imagen para modificarlo a mi gusto*/
  margin: 0px auto;
  width: 140px;
  /*border: 5px solid black;*/
}

header h1 {
  text-align: center;
  font-size: 40px;
  color: #70b231;
  text-shadow: 0px 2px 4px #333333;
  /*border: 5px solid brown;*/
}

/*Menú*/
nav {
  width: 100%;
  height: 40px;
  background-color: #333333;
  margin-top: 20px;
  /*border: 5px solid yellow;*/
}

nav ul {
  width: 1130px;
  margin: 0px auto;
}

nav ul li {
  float: left;
  line-height: 40px;
  border-right: 1px solid grey;
}

nav ul li:first-child {
  border-left: 1px solid grey;
}

nav ul li a {
  color: white;
  display: block;
  padding-left: 15px;
  padding-right: 15px;
}

nav ul li:hover {
  background-color: #70b231;
  box-shadow: 0px 0px 4px grey inset;
  transition: all 300ms;
}

/*Contenido*/
#content {
  width: 1250px;
  min-height: 1100px;
  margin: 0px auto;
  /*border: 5px solid orange;*/
}

/*Barra lateral*/
#aside {
  float: left;
  width: 200px;
  margin: 30px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 2px #ccc;
  font-family: sans-serif, Arial, Helvetica;
}

#aside .widget {
  width: 180px;
  margin: 5px auto;
  padding: 8px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 14px;
  border-bottom: 1px dashed #333333;
}

#aside .widget:last-child {
  border-bottom: 1px solid white;
}

#aside h3 {
  width: 100%;
  color: #333333;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 15px;
  background-color: #f2f3f2;
  border: 1px solid #ccc;
  border-left: none;
  border-right: none;
}

/*Botones Barra lateral*/
input[type="text"],
input[type="email"],
input[type="password"],
select {
  display: block;
  border: 1px solid #c9c9c9;
  box-shadow: 0px 0px 2px #ccc;
  padding: 1px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: gray;
  transition: all 300ms;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus {
  display: block;
  border: 1px solid #70b231;
  color: black;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button {
  display: block;
  border-radius: 2px;
  width: 60px;
  background-color: #70b231;
  border: 1px solid green;
  cursor: pointer;
  color: white;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover {
  display: block;
  box-shadow: 0px 0px 2px gray;
}

/*Formularios Barra lateral*/

#aside div label,
#aside div input[type="text"],
#aside div input[type="email"],
#aside div input[type="password"],
#aside div a {
  display: block;
  width: 95%;
  margin-top: 2px;
  margin-bottom: 2px;
}

#aside div input[type="button"],
#aside div input[type="submit"],
#aside div button {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
}

#aside input,
#aside label {
  display: block;
  margin: 0px auto;
  text-align: center;
}

/*Secciones*/
#sections {
  float: left;
  width: 75%;
  font-family: sans-serif, Arial, Helvetica;
  margin-right: 20px;
}

#sections .titulo {
  font-size: 25px;
  margin-bottom: 5px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

#sections section {
  margin-top: 40px;
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 4px #c9c9c9;
  color: #333333;
  font-size: 16px;
}

#sections .articulo {
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#sections p {
  text-align: justify;
}

/*Pegatinas*/
#sections .stickerOne,
.stickerTwo {
  position: absolute;
  margin-top: -38px;
}

#sections .stickerTwo {
  position: absolute;
  margin-left: 860px;
}

/*Footer*/

.clearfix {
  float: none;
  clear: both;
}

footer {
  width: 100%;
  margin: 0px auto;
  text-align: center;
  margin-top: 40px;
  background-color: #333333;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-size: 14px;
  font-family: sans-serif, Arial, Helvetica;
  box-shadow: 0px 0px 2px gray;
}
