/* Estilo por etiqueta */
* {
  margin: 0px;
  padding: 0px;
}

body {
  background: lightgray;
}

#container {
  width: 70%;
  margin: 0px auto;
  /* Establece un margen superior e inferior de 0 píxeles y un margen izquierdo y derecho automático para respetar siempre el ancho del 70%.*/
  border: 1px solid black;
}

header {
  background: red;
  height: 100px;
  width: 100%;
  line-height: 100px; /*Centra el texto en altura ya que tenemos que poner la misma altura que el contenedor*/
  text-align: center; /*Centra el texto de forma horizontal*/
  color: white;
  border-bottom: black 1px solid;
}

nav {
  background: lightblue;
  height: 50px;
  border-bottom: 1px solid black;
}

nav ul li {
  float: left; /*Los elementos se colocan uno al lado del otro.*/
  list-style: none; /*Desaparece el estilo*/
  margin: 10px;
  line-height: 25px;
}

.clearfix {
  clear: both; /*Evita que el elemento con la clase .clearfix se superponga con elementos flotantes anteriores.*/
}

#content {
  float: left;
  width: calc(80% - 20px);
  background: green;
  min-height: 500px;
  padding: 10px;
}

.article {
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.article:first-child {
  padding-top: 10px;
  border-top: 1px solid #eee;
}

.article h2 {
  font-size: 25px;
}

aside {
  float: left;
  width: calc(20% - 20px);
  background: orange;
  min-height: 500px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
}

footer {
  background: black;
  color: white;
  text-align: center;
  height: 50px;
  line-height: 50px;
}
