#boton{
    display: block;
    margin: 20px;
    padding: 20px;
    background-color: green;
    color: white;
    width: 200px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 5px solid black;
    transition: all 3s;
    transition: border 300ms, background-color 1s;
}

#boton:hover{
    border-radius: 15px;
    background-color: orangered;
    border: 5px solid red;
}